header {
  text-align: center;
  }
  nav {
    padding-left: 10px;
    padding-right: 10px;
    
  }
.bg {
  background-color: grey;
}

#featured-property {
  text-align: center;
}
.me {
width: 800px;
padding-left: 200px;
}



#details div {
 
  background-color: red;
  float: left;
  width: 25%;
  text-align: center;
}
